// 
// --------------------------------------------------

// Fonts
// --------------------------------------------------

// Variables & mixins & extend
// --------------------------------------------------
$green: #729600
$blue: #5381AB
// Common blocks
body
	font-size: 14px
	font-family: Georgia, serif 
	line-height: 1.4
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: antialiased
.out
	min-width: 1170px
	+r(w1170)
		min-width: 100%
%wrap
	width: 1170px
	margin: 0 auto
	+r(w1170)
		width: 100%
.wrap
	width: 1170px
	margin: 0 auto
	+r(w1170)
		width: 100%
.hide-768
	display: block
	+r(w768)
		display: none !important
// .container
// 	width: 1170px !important

// Headings
// --------------------------------------------------

// Nav
// --------------------------------------------------

// Header
// --------------------------------------------------
.telephone
	padding: 25px 0 20px
	font-size: 20px
	font-weight: bold
	color: $green
	+r(w768)
		padding: 5px 0 10px
		font-size: 20px
		text-align: center
.topper
	padding: 15px 0 10px
	position: relative
	z-index: 999
	background: #fff
	+box-shadow(0 4px 2px rgba(#000, .2))
	+r(w768)
		width: 100%
		position: absolute
	&.is-active
		+r(w768)
			.topper-arr
				+arr(14,7,#5482AB,bottom)
	.topper-arr
		+arr(14,7,#5482AB,top)
		position: absolute
		left: 50%
		margin-left: -7px
		bottom: 10px
		cursor: pointer
		display: none
		+r(w768)
			display: block
.subnav
	padding: 25px 0 20px
	text-align: right
	+r(w768)
		padding: 0 0 25px
		text-align: center

.subnav-list
	display: inline-block
	padding: 0 40px
	margin: 0
	list-style: none
	+clr
	+r(w1170)
		padding: 0
.subnav-item
	float: left
	margin-left: 20px
	position: relative
	+r(w768)
		width: 50%
		margin-left: 0
	&:first-child
		margin-left: 0
.subnav-link
	color: $blue

.dropdown
	display: none
	min-width: 200px
	padding: 0
	background: #5482AB
	list-style: none
	position: absolute
	top: 0
	margin-top: 55px
	+r(w768)
		position: static
		margin-top: 0
		padding-left: 40px
	.dropdown-link
		padding-left: 20px
		padding-right: 20px
		display: block
		font-size: 16px
		font-weight: bold
		color: white
		text-transform: uppercase
		+r(w768)
			position: relative
			&:before
				content: ""
				+s(nav-arr)
				position: absolute
				left: 0px
				top: 50%
				margin-top: -4px

.header
	.header-bg
		height: 212px
		background: url("../img/header1.png")
		+cover
		position: relative
		&:before
			content: ""
			width: 417px
			height: 229px
			position: absolute
			right: 0
			bottom: 0
			background: url("../img/header2.png") 
	.header-logo
		+s(logo)
		position: absolute
		top: 50px
		left: 0
		+r(w768)
			display: none
	.header-in
		height: 212px
		position: relative
	
.basket
	font-size: 0
	height: 44px
	position: absolute
	bottom: 20px
	right: 0
	+r(w1023)
		display: none
	&.m-nav
		display: none
		bottom: 33px
		+r(w1280)
			right: 16px
			.basket-right
				display: none
			.basket-left
				+border-radius(5px)
		+r(w1023)
			display: block
			bottom: auto
			top: 4px
	.basket-left
		display: inline-block
		vertical-align: top
		width: 44px
		height: 44px
		+border-radius(5px 0 0 5px)
		background: #EDEDED
		position: relative
	.basket-right
		display: inline-block
		vertical-align: top
		height: 44px
		line-height: 44px
		padding: 0 15px
		background: #fff
		+border-radius(0px 5px 5px 0)
		font-size: 22px
		font-weight: bold
		font-style: italic
		color: $blue 
	.basket-ico
		+s(basket)
		position: absolute
		top: 50%
		margin-top: -10px
		left: 50%
		margin-left: -12px 
.mobile-cheese
	display: none
	+r(w768)
		+s(i-cheese)
		display: block
		position: absolute
		top: 4px
		right: 65px
.nav
	// min-width: 1170px 
	height: 55px
	line-height: 66px
	background: #5482AB
	+box-shadow(0 4px 2px rgba(#000, .2))
	position: absolute
	left: 0
	right: 0
	z-index: 999
	+transition(all linear 0.3s)
	// +transition(all linear 0.3s)
	// -webkit-transform: translate3d(0px, 0%, 0px)
	// transform: translate3d(0px, 0%, 0px)
	&.test
		+transition(all linear 0.3s)
		-webkit-transform: translate3d(0px, -100%, 0px)
		transform: translate3d(0px, -100%, 0px)
	&.is-fixed
		position: fixed
		left: 0
		right: 0
		top: 0px
		+transition(all linear 0.3s)
		-webkit-transform: translate3d(0px, 0%, 0px)
		transform: translate3d(0px, 0%, 0px)
		opacity: 1
		+r(w768)
			position: absolute
		.nav-logo
			display: block
		.basket
			&.m-nav
				display: block
				right: -34px
				+r(w1280)
					right: 16px
	.nav-in
		position: relative
		@extend %wrap
		padding: 0 15px
		+r(w1023)
			padding: 0
	.nav-logo
		display: none
		position: absolute
		top: 0
		left: 40px
		z-index: 666
		+s(logo2)
		+r(w1280)
			left: 0
	.nav-list
		padding-left: 190px
		margin: 0
		+clr
		list-style: none
		+r(w1024)
			padding-left: 150px
		+r(w1023)
			padding-left: 120px
		+r(w768)
			display: none
			padding-left: 0
			margin: 0 -15px
			background: #5482AB
			+box-shadow(inset 0px 3px 10px rgba(#000, .2))
	.nav-mobile
		display: none
		width: 115px
		height: 63px
		margin-top: -3px
		cursor: pointer
		font-size: 16px
		color: #fff
		+r(w768)
			display: block
		.nav-mobile-ico
			+s(nav-ico)
			display: inline-block
			vertical-align: middle
			margin-right: 10px
		.nav-mobile-title
			display: inline-block
			vertical-align: middle
	.nav-item
		float: left
		&:hover
			.dropdown
				display: block
		+r(w768)
			float: none
			margin: 0 15px
			border-bottom: 1px solid #7EAADB
			&:first-child
				border-bottom: none
			&:last-child
				border-bottom: none
	.nav-link
		display: block
		padding: 0 20px
		margin-top: -5px
		font-size: 16px
		font-weight: bold 
		color: #fff
		text-transform: uppercase
		position: relative
		z-index: 666
		+r(w768)
			padding-left: 40px
			&:before
				content: ""
				+s(nav-arr)
				position: absolute
				left: 20px
				top: 50%
				margin-top: -4px
		&.is-active
			height: 87px
			background: url("../img/icons/nav.png")
			background-size: 100% 100%
			+r(w1023)
				font-size: 0
				width: 56px
				height: 44px
				background: url("../img/icons/i-cheese.png")
				margin-top: 6px
			&:before, &:after
				content: ""
				position: absolute
				+r(w1023)
					content: none
			&:before
				+s(nav-ico1)
				bottom: 25px
				left: 15px
			&:after
				+s(nav-ico1)
				top: 10px
				right: 15px

.slider-wrap
	padding: 0 15px
.slider
	margin: 0 -15px
	.slider-in
		margin: 0
	.carousel-inner
		.item
			height: 300px
			+cover
	.carousel-indicators
		display: none
	.carousel-control
		display: none

.page
	width: 100%
	height: 100% 
	+box-shadow(inset 0px 4px 2px rgba(#000, .2))
	background: url("../img/texture.png") 0 0 repeat
	.page-in
		.h1
			margin-bottom: 20px
			font-size: 28px
			color: #527FAB
			font-style: italic
		
.prod
	margin-bottom: 70px
	background: #fff
	border-bottom: 1px solid #5482AB
	height: 635px
	overflow: hidden
	+r(w1170)
		margin-bottom: 30px
		height: auto
	.prod-media
		margin-bottom: 25px
		position: relative
		&:before
			content: ""
			height: 28px
			position: absolute
			bottom: -14px
			left: 0
			right: 0
			background: url("../img/shadow.png") 0 0 no-repeat
			+r(w1024)
				content: none
			+r(w360)
				content: ""
		img
			max-width: 100%
			position: relative
			+r(w1199)
				width: 100%
	.prod-title
		margin-bottom: 15px
		padding: 0 5px
		font-size: 22px
		font-weight: bold
		font-style: italic
		color: #5280AB 
	.prod-content
		padding: 0 5px
		p
			overflow: hidden
			line-height: 1.8  
			color: #527FAB
		a
			float: right
			color: #729600
			text-decoration: none 

.footer
	padding: 30px 0 20px
	background: #5482AB

.list
	margin: 0
	+r(w768)
		margin-bottom: 15px
		border-bottom: 1px solid #7EAADB
		text-align: center
	&.m-border
		border-bottom: 0 
	.list-title
		margin-bottom: 15px
		font-size: 20px
		font-style: italic
		color: #CCC 
	.list-ul
		padding: 0
		list-style: none
		+r(w768)
			&.m-addr
				font-size: 0
				li
					width: 50%
					display: inline-block
					font-size: 14px
	.list-item
		margin: 0 0 5px
		&.m-spesial
			margin-top: 10px
	a, span
		font-weight: normal
		color: #FFF
		&:hover
			text-decoration: none
	.list-social
		margin-bottom: 10px
		a
			display: inline-block
			vertical-align: middle
			margin-left: 25px
			&:first-child
				margin-left: 0
		.list-social-fb
			+s(fb)
		.list-social-gp
			+s(gp)
		.list-social-yt
			+s(yt)
	.list-row
		margin-bottom: 10px
.my-input
	+border-radius(0)
	color: #999

.btn-gray
	background: #999
	color: #fff
	font-size: 16px
	font-style: italic
	&:hover, &:active, &:focus
		color: #fff
.basement
	background: #7EAADB
	position: relative
	.col-md-12, .col-xs-12
		position: static
.pay
	margin: 0
	.pay-title
		padding: 20px 0
		font-size: 20px
		color: #5280AB
		font-style: italic
		+r(w768)
			text-align: center
	.pay-list
		padding: 0
		+clr
		list-style: none
	.pay-list-items
		float: left
		margin-left: 15px
		&:first-child
			margin-left: 0 
	.pay-list-item
		display: block
		&.m1
			+s(pay1)
		&.m2
			+s(pay2)
		&.m3
			+s(pay3)
		&.m4
			+s(pay4)
		&.m5
			+s(pay5)

.topp
	+s(top)
	position: absolute
	top: -20px
	right: 40px
	+r(w1280)
		top: auto
		bottom: 34px
		right: 32px
	+r(w768)
		right: 50%
		margin-right: -20px
		bottom: 88px
	
.page
	padding: 100px 0 120px
	+r(w768)
		padding-bottom: 0px
.step
	padding: 20px 60px 10px
	margin-bottom: 40px
	background: #F3F7F8
	+r(w768)
		margin-bottom: 30px
	.step-title
		margin-bottom: 15px
		font-size: 28px
		font-weight: normal
		color: #5280AB
		text-align: center
	.step-item
		text-align: center
		position: relative
		+r(w768)
			margin-bottom: 30px
		&.m-mod
			&:after
				+r(w768)
					content: none
		&:before
			content: ""
			position: absolute
			left: 10px
			top: 50%
			margin-top: -10px
			+s(arr1)
		&:after
			content: none
			position: absolute
			right: 10px
			top: 50%
			margin-top: -10px
			+s(arr1)
			+r(w768)
				content: ""
	.step-item-media
		height: 100px
		margin-bottom: 10px
	.step-item-meta
		font-size: 18px
		font-weight: normal
		color: #527FAB

.spesial
	margin-bottom: 60px
	border-bottom: 1px solid #5482AB
	position: relative
	.col-xs-4
		position: static
	.spesial-descr
		padding-top: 50px
		padding-left: 60px
		+r(w768)
			padding: 0
	.spesial-title
		margin-bottom: 25px
		font-size: 24px
		color: #5280AB
		font-weight: normal
		font-style: italic 
	.spesial-content
		margin-bottom: 30px
		color: #5280AB
		font-size: 18px
		+r(w768)
			margin-bottom: 20px
			font-size: 16px
		.btn-success
			+r(w768)
			position: relative
			z-index: 11
		
	.spesial-media
		margin-bottom: -6px
		width: 229px
		height: 281px
		display: inline-block
		background: url("../img/img1.png")
		+r(w768)
			width: 155px
			height: 190px
			background: url("../img/img1_sm.png")
			margin-bottom: 0
			position: absolute
			bottom: 0
			right: -12px
			z-index: 100
.gallery
	.gallery-in
		padding-bottom: 25px
		margin-bottom: 15px
		border-bottom: 1px solid #5482AB
		position: relative
	.h2
		margin-top: 0
		margin-bottom: 10px
		font-size: 24px
		font-style: italic
		color: #5280AB
	.gallery-item
		width: 620px
		margin: 0 auto
		text-align: center
		img
			max-width: 100% 
	.gallery-prev
		+s(left)
		position: absolute
		top: 50%
		margin-top: -20px
		left: 0
		cursor: pointer
	.gallery-next
		+s(right)
		position: absolute
		top: 50%
		margin-top: -20px
		right: 0
		cursor: pointer
	.h3
		margin: 0
		font-size: 20px
		font-style: italic
		color: #5381AB
		

.bar
	.bar-title
		margin-bottom: 15px
		padding: 0 30px
		text-align: center
		font-size: 18px
		color: #5280AB 
	.bar-block
		margin-bottom: 30px
		background: #fff
	.bar-block-header
		background: #5482AB
		color: #fff
		text-align: center
		position: relative
		&.m-mod
			min-height: 50px
			line-height: 50px
			.bar-block-header-title
				padding: 0 50px
	.bar-block-header-title
		padding: 10px 0
		font-size: 22px
		color: #fff 
	.bar-block-num
		position: absolute
		top: 6px
		right: 10px
		width: 38px
		height: 38px
		line-height: 38px
		background: #fff
		border-radius: 50% 
		font-size: 18px
		font-style: italic 
		color: #739600
	.bar-block-in
		padding: 10px 20px 20px
		font-size: 16px
		color: #527FAB 
	.bar-block-note
		margin-bottom: 10px
		text-align: center
	.bar-block-row
		margin-bottom: 10px
		position: relative
		.arr
			position: absolute
			top: 5px
			top: 50%
			margin-top: -10px
			right: -17px
		.bar-block-row-label
			padding: 5px 60px 5px 20px
			background: #F3F7F8
			border-radius: 5px
			position: relative
			.pen
				// top: 8px
				top: 50%
				margin-top: -7px
				right: 25px
				position: absolute
			.cross
				right: 5px
				top: 8px
				top: 50%
				margin-top: -7px
				position: absolute
	.bar-block-content
		text-align: left
	.bar-block-more
		color: #729600
	.bar-block-media
		margin-bottom: 10px
		img
			max-width: 100% 

.pen
	+s(pen)
	cursor: pointer
.cross
	+s(cross)
	cursor: pointer
.arr
	+s(arr1)
	cursor: pointer
.green
	font-size: 16px
	color: #729600 

.minislide
	width: 180px
	margin: 0 auto 15px
	position: relative
	+r(w1170)
		width: 100%
	.minislide-item
		width: 100%
		margin: 0
	.minislide-prev
		+s(arr2)
		position: absolute
		z-index: 100
		left: -25px
		top: 50%
		margin-top: -10px
		cursor: pointer
		+r(w1170)
			left: -11px
	.minislide-next
		+s(arr1)
		position: absolute
		z-index: 100
		right: -25px
		top: 50%
		margin-top: -10px
		cursor: pointer
		+r(w1170)
			right: -11px

.btn-lg
	font-size: 22px
	font-style: italic
	padding: 4px 35px
	border-color: transparent
	&:hover, &:focus, &:active
		border-color: transparent 
// 
// --------------------------------------------------
// 
// --------------------------------------------------

